
/* CSS MENU BUILD ==============================================================================================*/
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  line-height: 1;
  background:rgba(0,0,0,1);
  width: 100%;
  text-align: center;
  z-index:1000; /* This makes the dropdown menus appear above the page content below */
  position: fixed;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 15px 15px;
  text-decoration: none;

  transition-property: background-color, color;
  transition-duration: 0.7s;
  transition-timing-function: ease-out;

}
#cssmenu ul {
  margin:0;
  padding:0;
  list-style:none;
  float:right;
  position:relative;
  right:50%;
}
#cssmenu > ul > li {
   margin:0 0 0 1px;
   padding:0;
   float:left;
   position:relative;
   left:50%;
   top:1px;
}
#cssmenu > ul > li > a {
  color: #ffffff;
  font-size: 14px;
}
#cssmenu > ul > li:hover > a {
  color: black;
  background: pink;
}