/*============================================================================*/
/* Normal Font*/
/*============================================================================*/
$normal-font: 'Arial';
$normal-font-color: red;
$normal-font-background-color: green;
/*============================================================================*/


$max-width: 1280px;




$normal-font2: 'Times New Roman';
$normal-font-color2: purple;
/*============================================================================*/
$fancy-font: 'AlexBrush';

$title-color: grey;
$accent-color: red;

$colored-background: #ffbdc7;
$dark-colored-background: #d3d3d3;
$darker-colored-background: orange;
$colored-background-text-color: yellow;

$button-background: purple;
$button-hover-background: black;
