$fancy-font: 'AlexBrush';
$normal-font: 'Raleway';

$normal-font-color: pink;
$title-color: grey;
$accent-color: red;

$colored-background: #ffbdc7;
$dark-colored-background: #d3d3d3;
$darker-colored-background: orange;
$colored-background-text-color: yellow;

$button-background: purple;
$button-hover-background: black;
