<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rewrite to www." stopProcessing="true">
          <conditions>
            <add input="{HTTP_HOST}" pattern="^shukandlinus.com$" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="http://www.shukandlinus.com{URL}" />
        </rule>
        
        <rule name="Try to find the .html version of the file">
          <match url=".*"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
            <add input="{URL}" pattern="^/?api" negate="true"/>
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>