<section id="_02_our_story">
    <h1>================================================================================================</h1>
    <center>

        <div class="row" style="max-width: 1200; margin: 50px">
            <h1 style="padding-bottom: 30px">Our Story</h1>
            <div class="col-sm-12 photoBlock col-md-6 animated zoomIn visible" data-animation="zoomIn" data-animation-delay="300">
                <div class="mediumImage shuk" />
                <div class="brideGroomTitle">
                    Bride
                </div>
                <div class="brideGroomName">
                    Shuk-Laam Lo
                </div>
                <div class="brideGroomPOV">
                    Order invitations at least 6 months before the wedding.
                    This gives you adequate time to fix errors if there are any,
                    as well as address, assemble, and mail them.
                    They should be sent 6 to 8 weeks before the wedding.
                </div>
            </div>
            <div class="col-sm-12 photoBlock col-md-6 animated zoomIn visible" data-animation="zoomIn" data-animation-delay="500">
                <div class="mediumImage linus" />
                <div class="brideGroomTitle">
                    Groom
                </div>
                <div class="brideGroomName">
                    Linus Chui
                </div>
                <div class="brideGroomPOV">
                    Order invitations at least 6 months before the wedding.
                    This gives you adequate time to fix errors if there are any,
                    as well as address, assemble, and mail them.
                    They should be sent 6 to 8 weeks before the wedding.
                </div>
            </div>
        </div>
    </center>
    <h1>================================================================================================</h1>
</section>