<section id="_04_entourage">
    <div style="padding: 0% 10%">
        <div>ENTOURAGE</div>

        <div class="col-sm-12 entourageSection">
            <div class="col-sm-12 sectionTitle">Parents</div>
            <div class="col-sm-12 sectionSubTitle">These are the people who made us who we are</div>
            <div class="col-md-6">Shuk's</div>
            <div class="col-md-6">Linus'</div>

            <div class="col-sm-3">
                <div style="width:100%" class="imageContainer">
                    <img class="entouragePicture" src="https://s.graphiq.com/sites/default/files/stories/t4/15_Tiniest_Dog_Breeds_1718_3083.jpg" />
                    <div class="textbox">
                        Hello mom
                    </div>
                </div>
                <div class="entourageSubText">Mom</div>
            </div>
            <div class="col-sm-3">
                <div style="width:100%" class="imageContainer">
                    <img class="entouragePicture" src="https://s.graphiq.com/sites/default/files/stories/t4/15_Tiniest_Dog_Breeds_1718_3083.jpg" />
                    <div class="textbox">
                        Hello dad
                    </div>
                </div>
                <div class="entourageSubText">dad</div>
            </div>

            <div class="col-sm-3">
                <div style="width:100%" class="imageContainer">
                    <img class="entouragePicture" src="https://s.graphiq.com/sites/default/files/stories/t4/15_Tiniest_Dog_Breeds_1718_3083.jpg" />
                    <div class="textbox">
                        Hello mom
                    </div>
                </div>
                <div class="entourageSubText">mom</div>
            </div>
            <div class="col-sm-3">
                <div style="width:100%" class="imageContainer">
                    <img class="entouragePicture" src="https://s.graphiq.com/sites/default/files/stories/t4/15_Tiniest_Dog_Breeds_1718_3083.jpg" />
                    <div class="textbox">
                        Hello dad
                    </div>
                </div>
                <div class="entourageSubText">dad</div>
            </div>
        </div>

        <div class="col-sm-12 entourageSection">
            <div class="col-sm-12 sectionTitle">Bridesmaids</div>
            <div class="col-sm-12 sectionSubTitle">Those are my girls</div>
            <div class="col-sm-3">

                <div style="width:100%" class="imageContainer">
                    <img class="entouragePicture" src="https://s.graphiq.com/sites/default/files/stories/t4/15_Tiniest_Dog_Breeds_1718_3083.jpg" />
                    <div class="textbox">
                        Hello Carmen
                    </div>
                </div>
                <div class="entourageSubText">Carmen</div>
            </div>
            <div class="col-sm-3">
                <div style="width:100%" class="imageContainer">
                    <img class="entouragePicture" src="https://s.graphiq.com/sites/default/files/stories/t4/15_Tiniest_Dog_Breeds_1718_3083.jpg" />
                    <div class="textbox">
                        Hello Lina
                    </div>
                </div>
                <div class="entourageSubText">Lina</div>
            </div>
            <div class="col-sm-3">
                <div style="width:100%" class="imageContainer">
                    <img class="entouragePicture" src="https://s.graphiq.com/sites/default/files/stories/t4/15_Tiniest_Dog_Breeds_1718_3083.jpg" />
                    <div class="textbox">
                        Hello Jasmine
                    </div>
                </div>
                <div class="entourageSubText">Jasmine</div>
            </div>
            <div class="col-sm-3">
                <div style="width:100%" class="imageContainer">
                    <img class="entouragePicture" src="https://s.graphiq.com/sites/default/files/stories/t4/15_Tiniest_Dog_Breeds_1718_3083.jpg" />
                    <div class="textbox">
                        Hello Francis
                    </div>
                </div>
                <div class="entourageSubText">Francis</div>
            </div>
        </div>

        <div class="col-sm-12 entourageSection">
            <div class="col-sm-12 sectionTitle">Groomsmen</div>
            <div class="col-sm-12 sectionSubTitle">My JHD</div>
            <div class="col-sm-3">
                <div style="width:100%" class="imageContainer">
                    <img class="entouragePicture" src="https://s.graphiq.com/sites/default/files/stories/t4/15_Tiniest_Dog_Breeds_1718_3083.jpg" />
                    <div class="textbox">
                        Hello Alvin
                    </div>
                </div>
                <div class="entourageSubText">Alvin</div>
            </div>
            <div class="col-sm-3">
                <div style="width:100%" class="imageContainer">
                    <img class="entouragePicture" src="https://s.graphiq.com/sites/default/files/stories/t4/15_Tiniest_Dog_Breeds_1718_3083.jpg" />
                    <div class="textbox">
                        Hello John
                    </div>
                </div>
                <div class="entourageSubText">John</div>
            </div>
            <div class="col-sm-3">
                <div style="width:100%" class="imageContainer">
                    <img class="entouragePicture" src="https://s.graphiq.com/sites/default/files/stories/t4/15_Tiniest_Dog_Breeds_1718_3083.jpg" />
                    <div class="textbox">
                        Hello WingKai
                    </div>
                </div>
                <div class="entourageSubText">WingKai</div>
            </div>
            <div class="col-sm-3">
                <div style="width:100%" class="imageContainer">
                    <img class="entouragePicture" src="https://s.graphiq.com/sites/default/files/stories/t4/15_Tiniest_Dog_Breeds_1718_3083.jpg" />
                    <div class="textbox">
                        Hello Sirui
                    </div>
                </div>
                <div class="entourageSubText">Sirui</div>
            </div>
        </div>
    </div>
</section>