<section id="_05_wedding_information" data-bind="css: { 'show-reception-info' : invitedToReception }">
   <h1>================================================================================================</h1>

    <h1>Wedding day events</h1>
    <ul>
        <li>
            <h2>ceremony @ 2pm</h2>
            <p>Immanuel Baptist Church</p>
            <p>1100 Finch Ave E, Toronto</p>
        </li>
        <li id="reception-info">
            <h2>reception @ 6:30pm</h2>
            <p>The Venetian Banquet & Hospitality Centre</p>
            <p>219 Romina Dr, Vaughan, ON</p>
        </li>
    </ul>   

   <h1>================================================================================================</h1>
</section>