<section id="anything-else">
    <h1>Anything we should know?</h1>

    <form>
        <section data-bind="visible: !inEditRemarksMode()">
            <p data-bind="html: htmlRemarks"></p>
            <div class="button-group">
                <button class="primary" data-bind="click: toggleEditMode">Edit</button>
            </div>
        </section>
        <section data-bind="visible: inEditRemarksMode">
            <textarea placeholder="Write us anything you want!" data-bind="value: remarks"></textarea>
            <div class="button-group">
                <button class="secondary" data-bind="click: cancelEditMode, visible: showCancelEdit">Cancel</button>
                <button class="primary" data-bind="click: submitRemarks">Submit</button>
            </div>
        </section>
    </form>
</section>