<section id="gifts">
    <h1>Gift registry</h1>
    <p>We are thankful for all that God has graciously given us, including your friendship. Your presence on our wedding day is already a gift in itself. If you are unable to come, we thank you for your well wishes.</p>
    <p>While we appreciate any gifts of household items, it would help us a lot to receive monetary gifts that will go towards our mortgage and honeymoon! We are grateful for your understanding, and we are thankful for all your contributions; it is greatly appreciated!</p>    
</section>