<div id='cssmenu'>
    <ul>

        <li><a data-bind="click:scrollToSection.bind($data, '_02_our_story')" ><span>OUR STORY</span></a></li>
        <li><a data-bind="click:scrollToSection.bind($data, '_03_better_together')"><span>BETTER TOGETHER</span></a></li>
        <li><a data-bind="click:scrollToSection.bind($data, '_04_entourage')"><span>ENTOURAGE</span></a></li>
        <li><a data-bind="click:scrollToSection.bind($data, '_05_wedding_information')"><span>THE WEDDING</span></a></li>
        <li><a data-bind="click:scrollToSection.bind($data, '_06_registry')"><span>REGISTRY</span></a></li>
        <li><a data-bind="click:scrollToSection.bind($data, '_07_rsvp')"><span>RSVP</span></a></li>
    </ul>
</div>

<div>
    <figure id="banner">
        <img src="images/banner.jpg" />
    </figure>

    <!-- ko router: {} --><!-- /ko -->
</div>

