<div id='cssmenu'>
    <ul>

        <!--<li class='active has-sub'>-->
        <!--<li class='has-sub'>
            <a href='#'><span>Products</span></a>
            <ul>
                <li class='has-sub'>
                    <a href='#'><span>Product 1</span></a>
                    <ul>
                        <li><a href='#'><span>Sub Product</span></a></li>
                        <li class='last'><a href='#'><span>Sub Product</span></a></li>
                    </ul>
                </li>
                <li class='has-sub'>
                    <a href='#'><span>Product 2</span></a>
                    <ul>
                        <li><a href='#'><span>Sub Product</span></a></li>
                        <li class='last'><a href='#'><span>Sub Product</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>-->

        <li><a data-bind="click:scrollToSection.bind($data, 'our-story')" ><span>OUR STORY</span></a></li>
        <li><a data-bind="click:scrollToSection.bind($data, 'better-together')"><span>BETTER TOGETHER</span></a></li>
        <li><a data-bind="click:scrollToSection.bind($data, 'entourage')"><span>ENTOURAGE</span></a></li>
        <li><a data-bind="click:scrollToSection.bind($data, 'wedding-day-events')"><span>THE WEDDING</span></a></li>
        <li><a data-bind="click:scrollToSection.bind($data, 'gifts')"><span>REGISTRY</span></a></li>
        <li><a data-bind="click:scrollToSection.bind($data, 'not-coming')"><span>RSVP</span></a></li>
        <!--<li class='last'><a href='#'><span>RSVP</span></a></li>-->
    </ul>
</div>

<div>
    <figure id="banner">
        <img src="images/banner.jpg"/>
    </figure>

    <!-- ko router: {} --><!-- /ko -->
</div>
